* {
    box-sizing: border-box;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color : black;
    background-color: #FBFBFF;
}

.bg-multi{
    background: linear-gradient(124deg,  orange, red, purple, #2b1de8);
}

.bg-light-g{
    background-color: gainsboro;
}

.bg-green{
    background-color : var(--bs-green);
}

.fs-7{
    font-size: 0.8rem;
}

.box-shadow{
    box-shadow: 10px 10px 30px rgba(37, 37, 37, 0.241);
}

.rounded-4{
    border-radius: 20px;
}

/***** IMG RULES *****/

.small-img{
    height: 150px;
    width: auto;
}

.medium-img{
    height: 400px;
    width: auto;
}

.listing-img, .card-img-top{  
    height: 400px;
    width: 400px;
    object-fit: cover;
}

/***** HEADER *****/

header h1{
    font-size: 2rem;
    letter-spacing: 0.2rem;
}

.nav a, .nav a:hover, nav a:active{
    color : white;
}

/***** BANNER *****/

.banner{
    height: 90vh;
}


/***** FORMS *****/

.form-box{
    box-shadow: 10px 10px 30px rgba(138, 138, 138, 0.241);
    padding : 10px 0 50px;
    border-radius: 20px ;
    max-width : 400px;
}

.form{
    margin : auto;
}

.btn{
    margin: 10px auto;
}

.form-control.login, .form-control.register{
    max-width: 80%;
    margin : 20px auto;
}

.login.register.btn{
    width: 20%;
}


/***** CARDS OF INDEX *****/

.card{
    border : 0px;
    box-shadow: 10px 10px 30px rgba(138, 138, 138, 0.241);
    max-width : 100%;
    margin-top : 20px;
}

.card-head{
    position: relative;
}

.sm-fav{
    position: absolute;
    height: 40px;
    width: 40px;
    bottom : -10px;
    transform: translate(-50%, -50%);
    text-decoration: none;
}

.card-title{
    font-size: 0.8rem;
}

.card-img-top{
    height: 300px;
    width: 300px;
    object-fit: cover;
    padding:  30px;
}

.badge.category{
    text-transform: uppercase;
}

.link-more{
    margin : 0 0 20px;
}

/***** FOOTER *****/

#footer{
    position: fixed;
    bottom : 0;
    width: 100%;
}

@media (min-width : 768px){

    .banner-text{
        text-align: left;
        padding: 0  0 0 60px;
    }

    .banner-img{
        display: block;
        height: 100%;
        max-width: 100%;
        background-image: url('https://i.ytimg.com/vi/cikbGOeSCQ4/maxresdefault.jpg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .card-title{
        font-size: 1.1rem;
    }


}