* {
    box-sizing: border-box;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color : black;
}

/***** HEADER *****/

header{
    padding : 20px 0;
    margin-bottom: 20px;
}

header h1{
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-right: 20px;
}

.nav a, .nav a:hover{
    color : black
}

.nav a:hover{
    text-decoration: overline;
}

h1, p{
    margin-bottom: 0!important;
}

/***** FORM LOGIN *****/

.form-box{
    border: 1px solid lightgrey;
    max-width : 400px;
    padding : 50px 0;
    border-radius: 20px ;
}

.form-group, .btn{
    margin: 10px auto 10px;
}

.form-group{
    width: 50%;
}

.btn{
    width: 20%;
}