asgiref==3.5.0
attrs==20.3.0
bleach==4.1.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
cryptography==36.0.2
Django==4.0.4
django-markdownify==0.9.1
gunicorn==20.1.0
idna==3.3
jellyfish==0.9.0
lib50==3.0.4
Markdown==3.3.6
markdown2==2.4.3
packaging==21.3
pexpect==4.8.0
ptyprocess==0.7.0
pycparser==2.21
pyparsing==3.0.8
PyYAML==5.4.1
requests==2.27.1
six==1.16.0
sqlparse==0.4.2
submit50==3.1.1
termcolor==1.1.0
tzdata==2022.1
urllib3==1.26.9
webencodings==0.5.1
whitenoise==6.0.0
