{% extends "auctions/layout.html" %}

{% block body %}

    <div class="container form-box create text-center my-5">
        <img src="../../../media/cat-money.png" alt="" class="small-img mt-3">
        <h2>Create Listing</h2>  
        <p class="text-muted mb-10">Informations to get your item sold</p>

        <form action="{% url 'create_listing' %}" method="post" class=" mx-4 create-form">
            {% csrf_token %}
            {% for field in form %}
                <label class="d-block text-start mt-4 mb-2">{{ field.label_tag }}</label>
                {{ field }}
            {% endfor %}
            <br>
            <input type="submit" value="Create Listing" class="btn btn-primary text-center">
        </form>
    
    </div>

{% endblock %}