{% extends "auctions/layout.html" %}

{% block title %}
    Cat Auctions - Register
{% endblock %}

{% block body %}
    <div class="container form-box register text-center my-5">
        <img src="../../../media/cat-keyboard.jpg" alt="" class="small-img">
        <h2>Register</h2>
        <p class="text-muted mb-10">Welcome aboard !</p>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control register" autofocus type="text" name="username" placeholder="Username">

            <input class="form-control register" type="email" name="email" placeholder="Email Address">

            <input class="form-control register" type="password" name="password" placeholder="Password">
            
            <input class="form-control register" type="password" name="confirmation" placeholder="Confirm Password">
        </div>
        <input class="btn btn-primary" type="submit" value="Register">
    </form>

    Already have an account? <a href="{% url 'login' %}">Log In here.</a>
    </div>

{% endblock %}